<template>
  <nav 
    class="navbar"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar_locale">
      <v-locale></v-locale>
    </div>
    <div class="navbar__header">
      <div class="navbar-title" @click="closeNavbar">
        <router-link to="/signup"><img src="../assets/images/logo.svg" alt="Muistinnollaus 34"></router-link>
      </div>
    </div>
    <div class="spooky">
      jouu
    </div>
  </nav>
</template>

<script>
import VLocale from './Locale';

export default {
  name: 'Navbar',
  methods: {
    toggleNavbar() {
      this.$store.dispatch('navbar/toggle');
    },
    closeNavbar() {
      this.$store.dispatch('navbar/set', false);
    }
  },
  computed: {
    showNavbar() {
      return this.$store.state.navbar.showNavbar;
    },
    authenticated() {
      return this.$store.state.auth.authenticated;
    }
  },
  components: {
    VLocale
  }
}
</script>
