.layout {
  font-size: 1.25rem;
  @media screen and (max-width: $desktop) {
    font-size: 1rem;
  }
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  height: 100%;
  margin-bottom: 8rem;
  flex-direction: column;
  padding: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #101D2A;
}

.logo {
  display:flex;
  margin-bottom: 3rem;
  height: 18vh;
  justify-content: center;
  flex: 1;
  @media screen and (max-width: $desktop) {
    margin-bottom: 0;
  }
}

.sponsor {
  display:flex;
  margin-bottom: 0.1rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo__image {
  max-width:100%;
  max-height:100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link {
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px;
  color: $fawn;
}
.link--sm {
  @extend .link;
  @media screen and (max-width: $desktop){
    font-size: 1rem;
  }
}