.navbar {
  max-width: $desktop;
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 8vh;
}

.spooky{
  opacity: 0;
}

.navbar-title {
  flex: 1;
}

.navbar__header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.locale {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  @media screen and (min-width: $desktop){
    //display: none;
  }
}

.locale__text {
  font-family: 'Neuton', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: $navajo;
  border: none;
  outline: none;
  background: transparent;
}
.locale__text-wrapper {
  flex: 1;
}
