.form {
  margin: 1rem auto;
  margin-bottom: 0;
  text-align: center;
}
.field {
  width: 100%;
  margin-bottom: 1rem;
}
.input {
  margin-top: 0.5rem;
  height: 2rem;
  font-size: 1.1rem;;
  background: rgba(0,0,0,0.5);
  border-radius: 0.3rem;
  border: none;
  width: 80%;
  max-width: $desktop/2;
  text-align: center;
  border-bottom: 1px solid;
  border-color: $white;
  color: $navajo;
}

.input:focus {
  outline: none;
}

.label {
  font-size: 1.25rem;
  font-weight: 500;
}

.accept {
  max-width: $desktop/2;
  margin: auto;
  padding: 1rem;
}

.button {
  font-family: 'Neuton', sans-serif;
  font-weight: 400;
  background: transparent;
  padding: 1.4rem;
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px;
  border-style: solid;
  border-color: $navajo;
  color: $navajo;
}

.button:hover {
  background-color: rgba(196, 134, 134, 0.2);
}

.choose {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.choose-button {
  font-family: 'Neuton', sans-serif;
  font-weight: 400;
  background: transparent;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 1px;
  border-style: solid;
  border-color: $navajo;
  color: $navajo;
}

.choose-button:disabled {
  color: $peru;
  border-color: $peru;
  cursor: default;
}

.button:disabled {
  color: $peru;
  border-color: $peru;
  cursor: default;
}

.closed-label {
  padding: 1rem;
  text-align: center;
}

.dish>*{
  display: inline;
}

.radio-padder {
  margin-left: 2rem;
}

.trimble {
  color: $fawn;
  text-align: center;
}
.trimble-logo {
  height: 5rem;
}

.signup-header {
  hyphens: auto;
  color: $fawn;
  font-size: 2rem;
  display: grid;

  @media screen and (max-width: $desktop) {
    font-size: 1.6rem;
  }
  padding: 1rem;
  text-align: center;
}

.is-full {
  color: $peru;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 3rem;
}

.card__text {
  flex: 1;
  text-align: left;
  max-width: $desktop;
  margin: auto; 
}
.card__text2 {
  flex: 1;
  padding-top: 1rem;
  text-align: right;
  max-width: $desktop;
  margin: auto;
}

.grid-container {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "grid-title grid-title" "info-card1 info-card2";
  @media screen and (max-width: $desktop) {
    width: 90vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "grid-title" "info-card1" " info-card2";
  }
}

.grid-title {
  grid-area: grid-title;
}

.info-card1 {
  grid-area: info-card1;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  @media screen and (max-width: $desktop) {
    padding: 0;
  }
}

.info-card2 {
  grid-area: info-card2;
  padding: 1rem;
  @media screen and (max-width: $desktop) {
    padding: 0;
    padding-top: 1.5rem;
  }
}

.weighted-text {
  font-family: 'Norican', sans-serif;
  color: $fawn;
  font-size: 1.5rem;
  text-align: left;
}