$fawn: #DFAF72;
$white: #FFEACF;
$peru: #B68240;
$grizzly: #8D5B1C;
//$navajo: #FFD9AA;
$navajo: $white;
$bigstone: #101D2A;
$akaroa: #D7CFAA;

$tablet: 796px;
$desktop: 1088px;

$burger-size: 1.5rem;

$week_opacity: 0.8;
