<template>
  <div class="layout">
    <div class="content">
      <v-locale></v-locale>
      <router-link to="/signup">
        <img src="../assets/images/logo.svg" alt="Muistinnollaus 34" class="logo">
      </router-link>
      <slot></slot>
    </div>
    <div class="footer">
      <div 
        class="sponsor" 
        v-for="sponsor in sponsors" 
        :key="sponsor">
        <img class="logo__image" :src="imgSrc(sponsor)" :alt="sponsor">
      </div>
      <div class="sponsor">
        <router-link class="navbar__item link" v-text="$t('navigation.contact')" to="/contact"></router-link>
      </div>
    </div>
  </div>
</template>

<script>
/* ============
 * Default Layout
 * ============
 *
 * Used for the home and account pages.
 *
 * Layouts are used to store a lot of shared code.
 * This way the app stays clean.
 */
import VLocale from '../components/Locale';
import images from '../assets/images/logos/*.*'
export default {
  /**
   * The name of the layout.
   */
  name: 'default-layout',
  methods: {
    closeNavbar() {
      this.$store.dispatch('navbar/set', false);
    },
    imgSrc(name) {
      return images[name].png;
    }
  },
  computed: {
    sponsors() {
      return ['futu','siili','reaktor','smartly','hiq','taito'];
    },
  },
  components: {
    VLocale
  },
};
</script>
