<template>
  <div>
    <div class="trimble">sponsored by</div>
    <img class="trimble-logo" src="../assets/images/logos/trimble1.png" alt="trimble logo">
    <div class="grid-container">
      <div class="grid-title">
        <div class="signup-header" v-html="$t('home.title')"></div>
      </div>
      <div class="info-card2">
        <div class="weighted-text" v-html="$t('home.what')"></div>
        <div class="card__text" v-html="$t('home.cocktail')"></div>
        <div class="card__text" v-html="$t('home.main')"></div>
        <div class="card__text" v-html="$t('home.afterParty')"></div>
        <div class="card__text" v-html="$t('home.afterAfterParty')"></div>
        <div class="card__text" v-html="$t('home.brunch')"></div>
      </div>
      <div class="info-card1">
        <div class="card__text1" v-html="$t('home.info-text')"></div><br>
        <div class="card__text1" v-html="$t('home.signup-info-title')"></div>
        <div class="card__text1" v-html="$t('home.signup-info-invited')"></div>
        <div class="card__text1" v-html="$t('home.signup-info-normal')"></div><br>
        <div class="card__text1" v-html="$t('home.signup-price')"></div>
      </div>
    </div>
    <div class="is-full" v-if="isFull">Ilmoittautuminen on täynnä, voit kuitenkin ilmoittautua varasijoille</div>
    <div class="choose">
      <button :disabled="!isOpenInvited" @click.prevent="invited=true; select=true" class="choose-button">
        {{$t(`signup.invited`)}}
      </button>
      <button :disabled="!isOpenOther" @click.prevent="invited=false; select=true" class="choose-button">
        {{$t(`signup.normal`)}}
      </button>
      <router-link to="/participants" class="choose-button">
        {{$t(`signup.participants`)}}
      </router-link>
    </div>
    <v-signup v-if="select && isOpen" :invited="invited"></v-signup>
  </div>
</template>

<script>
/* ============
 * Home Index Page
 * ============
 *
 * The home index page.
 */
import VSignup from '../components/Signup';
import config from '../../config';

export default {
/**
 * The name of the page.
 */
  name: 'invited',
  /**
   * The components that the page can use.
   */
  data() {
    return {
      select: false,
      invited: false,
    }
  },
  computed: {
    isOpenInvited() {
      const now = new Date()
      return now > config.signupStartInvited && now < config.signupEndInvited
    },
    isOpenOther() {
      const now = new Date()
      return now > config.signupStart && now < config.signupEnd;
    },
    isOpen() {
      const now = new Date()
      return ((this.invited && this.isOpenInvited) 
      || (!this.invited && this.isOpenOther))
    },
    total() {
      return this.$store.state.participants.total;
    },
    isFull() {
      return this.total>config.maxParticipants
    }
  },
  created() {
    this.$store.dispatch('participants/all');
  },
  components: {
    VSignup,
  },
};
</script>
