@charset "utf-8";

@import './modules/variables';
@import './modules/navbar';
@import './modules/layout';
@import './modules/signup';
@import './modules/home';
@import './modules/participants';
@import './modules/admin';
@import url('https://fonts.googleapis.com/css?family=Neuton:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Norican&display=swap" rel="stylesheet');

html, body {
  position: relative;
  font-family: 'Neuton', sans-serif;
  font-weight: 400;
  margin: 0;
  color: $navajo;
  height: 100%;
}


body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #101D2A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
}
